<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Manga Store | Ajouter un manga</title>
	<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

    <div class="container">

    </div><!-- /.container -->
    <div class="container">
    	<div class="row">
    		<div class="col-md-12">
    			<form method="post" action="/mangas">
            <div class="form-group">
              <label>Titre</label>
              <input type="text" class="form-control" name="titre" placeholder="Titre du manga">
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control" name="description" placeholder="Description du manga"></textarea>
            </div>
            <div class="form-group">
              <label >Image</label>
              <input type="text" class="form-control" name="image_url">
              <p class="help-block">Insérer une image pour le manga</p>
            </div>
            <button type="submit" class="btn btn-default">Valider</button>
          </form>
    		</div>

    	</div>
    </div>
<script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="../bower_components/angular/angular.js"></script>
</body>
</html>