<a class="btn btn-primary pull-right" href="#/">Retour</a>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Connexion</h3>
    </div>
	<div class="panel-body">
	  	<div class="row">
		    <div class="col-md-12">
		    	<form method="post" action="/users/connexion">
		            <div class="form-group">
		              <label>email</label>
		              <input type="text" class="form-control" ng-model="user.name">
		            </div>

		            <div class="form-group">
		              <label>Mot de passe</label>
		              <input type="text" class="form-control" ng-model="user.mdp">
		            </div>
		            <button type="submit" class="btn btn-default">Connexion</button>
		        </form>
		    </div>
		</div>
	</div>
</div>
